body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .tap {
    padding: 10px 20px;
    background-color: #ff0000;
    color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
  }
  
  .tap:hover {
    color: #ffffff;
  }
  